/* 
    Document   : match
    Created on : Oct 6, 2011, 7:42:50 PM
    Author     : noru
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.inline{
    display:inline;
}

.inline > div{
    display:inline;
}

#sendMatch{
    
}

.teamName{
    background-color: #222;
    color:#FFF;
    font-size: 14px;
    padding-top: 4px;
    padding-left: 4px;
}

.teamDesc{
    margin-bottom: 10px;
}

#sponsorSelect{
    color: #999;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    /*standard banner width is 468 */
    /*standard banner height is 60 */ 
    width:400px;
    height:91px;
    
    /*direct resize of original standard banner */
/*    width:390px; 
    height:50px; */
    background-color: #F0F0F0;
    border-width: 2px;
    border-color: #999;
    border-style: dotted;
}

#sponsorSelect p{
    font-size: 24px;
}

.sponsorBanner{
    width:400px;
    height:91px;
}

.sponsorItem img{
    width:400px;
    height:92px;
}

/*For inner border*/
.sponsorItem img, .sponsorItem { border: none; overflow: hidden;}


.sponsorItem:hover{
    border: 3px solid black;
}

.sponsorItem:hover img{
     margin: -3px;
}

/* end for inner border */

.modal {
    width: 430px;
}

.clickedSponsor{
    
}

.sponsorItem.clickedSponsor {
    border: 3px solid black;
}

.sponsorItem.clickedSponsor img{
    margin: -3px;
}

#sponsorsLoader{
    width:30px;
    height:30px;
}

.optionWithSportIcon{
    background-repeat:no-repeat;
    padding-left:30px;
    height:30px;
    line-height:30px;
}

#sportSelect{
    width:300px;
    font-size:20px;
    height:40px;
    line-height:30px;
    margin-left: -30px;
}

.alert-message{
    margin-top: 0px;
    margin-bottom: 2px;
}

#teamSelect {
    list-style-type: none;
    width:auto;
}

#teamSelect, #teamSelect li {
	display: inline;
}

#teamSelect li label {
    display:inline;
}

#social-switches{
    margin-left: -30px;
}

/*rewrite from bootstrap */

.form-stacked{
    margin-left: 0px;
}

.teamBtn{
    height:60px;
    width:90px;
}