/* 
    Document   : matchesView
    Created on : Oct 11, 2011, 3:36:45 PM
    Author     : noru
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.playerInfo { 
    display: inline;
}

.playerInfo img{ 
    width:30px;
    height:30px;
}
